<header>
    <div class="header-container">
        <div class="title"><a ui-sref="home"><img class="img-responsive" src="img/logo.png"></a></div>
    </div>

    <div class="desktop">
        <div class="social-media-bar">
            <a href="https://www.facebook.com/The-Flytraps-149131535108883/" target="_blank"><img class="social-icon" src="img/facebook.png"></a>
            <a href="https://www.instagram.com/theflytraps/" target="_blank"><img class="social-icon" src="img/instagram.png"></a>
            <a href="https://slopboprecords.bandcamp.com/album/she-freak" target="_blank"><img class="social-icon round-icon" src="img/bandcamp.png"></a>
            <a href="https://soundcloud.com/theflytraps" target="_blank"><img class="social-icon round-icon" src="img/soundcloud.png"></a>
        </div>

        <ul class="desktop-nav-links">
            <li><a ui-sref="listen">listen</a></li>
            <li><a ui-sref="watch">watch</a></li>
            <li><a ui-sref="photos">photos</a></li>
            <li><a ui-sref="press">press</a></li>
            <li><a ui-sref="contact">contact</a></li>
        </ul>
    </div>
    <div mobile-nav class="mobile">
        <div class="mobile-menu-btn">MENU</div>

        <ul class="mobile-nav-links">
            <li class="close-btn" id="close-x-btn"><span style="float: right;">X</span></li>
            <li class="close-btn"><a ui-sref="listen">listen</a></li>
            <li class="close-btn"><a ui-sref="watch">watch</a></li>
            <li class="close-btn"><a ui-sref="photos" class="photos">photos</a></li>
            <li class="close-btn"><a ui-sref="press">press</a></li>
            <li class="close-btn"><a ui-sref="contact">contact</a></li>
            <li class="close-btn"><a href="https://soundcloud.com/theflytraps" target="_blank">soundcloud</a></li>
            <li class="close-btn"><a href="https://slopboprecords.bandcamp.com/album/she-freak" target="_blank">bandcamp</a></li>
            <li class="close-btn"><a href="https://www.instagram.com/theflytraps/" target="_blank">instagram</a></li>
            <li class="close-btn"><a href="https://www.facebook.com/The-Flytraps-149131535108883/" target="_blank">facebook</a></li>
        </ul>
    </div>
</header>