<div class="content">
    <h2>PRESS</h2>
    <div class="press content">
        <div class="inverse-color"><a href="http://www.laweekly.com/music/the-flytraps-on-strip-clubs-and-sexism-2410781" target="_blank">L.A. WEEKLY</a></div>
        <div class="inverse-color"><a href="http://www.ocweekly.com/music/the-flytraps-can-afford-their-rock-and-roll-lifestyle-6421460" target="_blank">O.C. WEEKLY</a></div>
        <div class="inverse-color"><a href="http://larecord.com/interviews/2012/01/13/the-flytraps-i-just-wanna-have-a-good-time" target="_blank">L.A. RECORD</a></div>
    </div>
</div>