<div class="content">
    <h2>WATCH</h2>
    <div class="videoWrapper"></div>
    <div class="content">
    	<div video-img class="vid-img-container" data-options="teCizEkiGig">
        	<div><img class="img-responsive" src="img/video_stills/cat_tongue.jpg"></div>
        	<div class="vid-img-title">CAT TONGUE</div>
        </div>

        <div video-img class="vid-img-container" data-options="VAX_MfL8ArY">
        	<div><img class="img-responsive" src="img/video_stills/sunset_strip_rip.jpg"></div>
        	<div class="vid-img-title">SUNSET STRIP RIP</div>
        </div>
    </div>
</div>